
 <h2 class="title-form">Sign up</h2>

    <div class="card-log mb-3 mx-auto" style="max-width: 700px; width:800px !important">
      <div class="row g-0">
        <div class="col-md-6">
          <img src="https://firebasestorage.googleapis.com/v0/b/imagenes-final.appspot.com/o/colte.jpg?alt=media&token=60c4a852-ab68-4cd6-936c-72827aabfdac" class="img-fluid rounded-start" alt="..." style="height: 100%;">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
                <%= f.error_notification %>

                <div class="form-inputs">
                  <%=f.input :first_name,
                              required: true,
                              autofocus: true,
                              input_html: { autocomplete: "first_name" }  %>
                  <%=f.input :last_name,
                              required: true,
                              autofocus: true,
                              input_html: { autocomplete: "last_name" }  %>
                  <%= f.input :email,
                              required: true,
                              autofocus: true,
                              input_html: { autocomplete: "email" }%>
                  <%= f.input :password,
                              required: true,
                              hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                              input_html: { autocomplete: "new-password" } %>
                  <%= f.input :password_confirmation,
                              required: true,
                              input_html: { autocomplete: "new-password" } %>
                </div>


                <%= f.button :submit, "Sign up" %>
                <%= render "devise/shared/links" %>
              <% end %>
          </div>
        </div>
      </div>
    </div>

