<h2 class="title-form">¡PARCHESE EN MEDELLIN!</h2>
<%#= raise %>
 <div class="parches">
    <h6><%= link_to "Todos los parches", plans_path,class: "btn btn-ghost" %></h6>
  </div>
  <div class="Nparches">
    <h6><%= link_to "Nuevo parche", new_plan_path, class: "btn btn-ghost" %></h6>
  </div>
<ul class="cards1">
    <% @category.each do |category| %>
        <li class="cards__item">
            <div class="card">
                <div class="card__image card__image--record"></div>
                <div class="card__content">
                    <div class="title-form1"><%= category.name %></div>

                    <%= link_to "Parches", plans_path(category_id: category.id),class:"btn btn--block card__btn"%>
                </div>
            </div>
        </li>
    <% end %>
</ul>
<div class="container">
  <% @plans.each do |plan| %>
    <div class="card m-2 p-2">
      <% plan.selected_plans.each do |selected| %>
        <hr>
          <p>plan id: <%= selected.plan_id %></p>
          <p>plan title: <%= selected.plan.title %></p>
          <p>user id: <%= selected.user.id %></p>
    <% end %>
    </div>
  <% end %>
</div>

<% @selected_top.each do |selected| %>
  <div class="card m-2 p-2">
     <p>selected id: <%= selected[0] %></p>
      <% selected[1].each do |s| %>
        <%= s.user_id %>
        <%= s.plan.title %>
      <% end %>
  </div>
<% end %>

<% @selected_top.each do |plan| %>
  <div class="card m-2 p-2">
     <p>plan id: <%= plan[0] %></p>
        <%= plan[1][0].user_id %>
        <%= plan[1][0].plan.title %>
        <%= plan[1].length %>
  </div>
<% end %>
