
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
    <li class="breadcrumb-item"><%= link_to "Parches", plans_path %></li>
    <li class="breadcrumb-item active"> Parches esperados </li>
  </ol>
</nav>

<h2 class="title-form">Mis parches favoritos</h2>
<div class="cards">
  <% @selected.each do |selected|%>
    <li class="cards__item">
            <div class="card">
                <div class="card__image card__image--record">
                  <% if selected.plan.photos.attached? %>
                    <%= image_tag(selected.plan.photos.first, :class => "photos") %>
                <% end %>
                </div>
                <div class="card__content">
                    <div class="card__title"></div>
                     <p class="card__text">Parche: <i> <%= selected.plan.category.name  %> </i></p>
                     <p class="card__text">Parche: <i> <%= selected.plan.title  %> </i></p>
                     <p class="card__text">status: <i> <%= selected.status %></i></p>
                    <%= link_to "Ver más", plan_path(id: selected.plan_id), class: "btn btn-ghost" %>
                    <%= link_to "Eliminar de fav",
                      selected_plan_path(selected),
                      class: "btn btn-ghost",
                      data: {turbo_method: :delete}
                    %>
                </div>
            </div>
        </li>
  <% end %>

</div>
