<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
    <li class="breadcrumb-item"><%#= link_to "Parches " + @selected.category.name, :back%></li>
    <li class="breadcrumb-item active"><%#= @plan.title%></li>
  </ol>
</nav>
<div class="container">
  <h2 class="title-form">MIS PARCHES SELECCIONADOS EN MEDELLIN</h2>
  <% @selected.each do |selected|%>
    <div class="card container">
      <p> <strong>Title:</strong> <%= selected.plan.title %> </p>
      <p> <strong>Id plan:</strong> <%= selected.plan_id %> </p>
      <p> <strong>Id selected:</strong></strong> <%= selected.id %> </p>
      <p> <strong>status:</strong> <%= selected.status %> </p>
      <%= selected.user_id %>
      <%= link_to "Ver â¤", plan_path(id: selected.plan_id), class: "btn btn-ghost" %>
      <%= link_to "Eliminar",
        selected_plan_path(selected),
        class: "btn btn-ghost",
        data: {turbo_method: :delete}
      %>
    </div>
    <%# <%= link_to "Details", plan_path(plan) %>
  <% end %>

</div>
