<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
    <li class="breadcrumb-item active">Parches <%=@category.nil? ? "" : @category.name %></h2></li>
  </ol>
</nav>

<h2 class="title-form">PARCHES <%=@category.nil? ? "" : @category.name %></h2>
<ul class="cards">
    <% @plans.each do |plan| %>
         <li class="cards__item">
            <div class="card">
                <div class="card__image card__image--record">
                <% if plan.photos.attached? %>
                  <% plan.photos.each do |photo| %>
                    <%= image_tag(photo, :class => "photos") %>
                  <% end %>
                <% end %>

                </div>
                <div class="card__content">
                    <div class="card__title"><%= plan.title %></div>
                     <p class="card__text">Parche: <i> <%= plan.category.name %> </i></p>
                    <%= link_to "Más sobre este parche", plan_path(plan),class:"btn btn--block card__btn" %>
                </div>
            </li>
        <% end %>
    </ul>
  </div>
  <div id="map">
    <div style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAP_BOX_KEY'] %>"></div>
  </div>
</div>
