<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
    <li class="breadcrumb-item active">Parches <%=@category.nil? ? "" : @category.name %></h2></li>
  </ol>
</nav>

<h2 class="title-form">PARCHES <%=@category.nil? ? "" : @category.name %></h2>
<ul class="cards">
    <% @plans.each do |plan| %>
         <li class="cards__item">
            <div class="card">
                <div class="card__image card__image--record"></div>
                <div class="card__content">
                    <div class="card__title"><%= plan.title %></div>
                     <p class="card__text">Parche: <i> <%= plan.category.name %> </i></p>
                    <%= link_to "detalles del parche", plan_path(plan),class:"btn btn--block card__btn" %>
                </div>
            </div>
        </li>
    <% end %>
</ul>
