<h2 class="title-form">¡DETALLES DEL PARCHE!</h2>
  <div class="contenedor_detalles">
    <h1><%= @plan.title %></h1>
    <p><%= @plan.details %></p>
    <p>Fecha de inicio: <%= @plan.start_date %></p>
    <p>Fecha de final:<%= @plan.end_date %></p>
    <p>Hora inicial: <%= @plan.start_hour.time %></p>
    <p>Hora final: <%= @plan.end_hour.time %></p>
    <p><%= @plan.address %></p>
    <p><% if @plan.free %></p>
      <%= "Gratis" %>
    <% else %>
      <%= "De pago" %>
    <% end %>
    <% if user_signed_in? %>
      <%= link_to "Seleccionar ❤", plan_selected_plans_path(plan_id: @plan), data:{turbo_method: :post}, class: "btn btn-ghost" %>
    <% else %>
      <%= link_to "Seleccionar ❤", new_user_session_path, class: "btn btn-ghost" %>
    <% end %>


    <% if user_signed_in? %>
      <% if current_user.id == @plan.user_id %>
        <%= button_to "Delete", @plan, :method => :delete, class: "btn btn-ghost"  %>
        <%= link_to "Edit", edit_plan_path(plan_id: @plan.id), class: "btn btn-ghost" %>
      <% end %>
    <% end %>

  </div>


  <div class=" reviews ">
    <h2 class="title-form"> ¡COMENTARIOS!</h2>
    <p><strong>Reviews</strong></p>
    <ul class="list-group">

      <% @plan.reviews.each do |review| %>
        <li class="list-group-item"><%= review.comment %></li>
        <p> <%= "⭐" * review.rating %> </p>
        <% if user_signed_in? %>
            <% if current_user.id == review.user_id %>
             <%= button_to "Delete", review_path(review), :method => :delete %>
            <% end %>
      <% end %>
      <% end %>
    </ul>
  </div>

  <div class="formulario_review">
    <h2 class="title-form">¡DEJA TU COMENTARIO!</h2>
        <%= simple_form_for([@plan, @review], data: { controller: "form-submit" }) do |f| %>
          <%= f.input :comment, label: 'Haz tu comentario' %>
          <%= f.input :rating, collection: (1..5).to_a, label: "Califica tu experiencia", input_html: {data: {controller: "star-rating", action: "click->form-submit#submit"}} %>
          <%= f.submit "Submit", class: "btn btn-ghost"%>
        <% end %>
  </div>
