<h1><%= @plan.title %></h1>
<p><%= @plan.details %></p>
<p><%= @plan.start_date %></p>
<p><%= @plan.end_date %></p>
<p><%= @plan.start_hour %></p>
<p><%= @plan.end_hour %></p>
<p><%= @plan.address %></p>
<p><% if @plan.free %></p>
    <%= "Gratis" %>
    <% else %>
    <%= "De pago" %>
    <% end %>
<%= button_to "Seleccionar ❤", plan_selected_plans_path(plan_id: @plan), method: :post, class: 'btn btn-primary' %>
<%# <%= link_to "Seleccionar❤", selected_plans_path(plan_id: @plan) %>
<%# <%= form_for [@plan, @selected] do |f| %>
  <%# <%= f.submit %>
<%# <% end %>


 <%#<h1>New review</h1>
 <%= simple_form_for [@plan, @review] do |f| %>
 <%# <%= f.input :comment %>
  <%#<%= f.input :rating %>
  <%#<%= f.submit "Submit review", class: "btn btn-primary" %>
<%#<% end %>
